:root {
    --background-color: #606060;
    --text-color: #262626;
    --english-text-color: var(--text-color);
    --rashi-quotation-text-color: #ffd0d0;

    --snackbar-disabled-button-color: rgb(160, 160, 160);
    --snackbar-background-color: #363636;
    --snackbar-text-color: #ccc;
    --snackbar-button-color: #ccc;

    --highlighted-commentary-indicator-yellow: rgb(190, 185, 110);
    --modal-box-shadow-color: #444;
    --modal-button-color: var(--mdl-accent-color);

    --selection-background-color: #ffffff44;

    --commentary-header-gray: #888;
    --commentary-header-blue: rgb(82, 129, 209);
    --commentary-header-blue: rgb(104, 152, 232);
    --commentary-header-orange: rgb(232, 121, 86);
}

::selection {
    background: var(--selection-background-color);
}

::-moz-selection {
    background: var(--selection-background-color);
}
