:root {
    --max-width: 720px;
    --snackbar-padding: 10px;
    --background-color: white;
    --table-cell-padding: 8px;
    --major-color: rgb(255,110,64);

    --font-size-multiplier: 1;

    --highlight-color: rgb(250, 217, 120);
}

@media only screen and (min-width: 720px) {
    :root {
        --font-size-multiplier: 1.1;
    }
}

html {
    background-color: var(--background-color);
}

html, body {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/* https://opensiddur.org/help/fonts/ */
@font-face{
    font-family: "Taamey David";
    src:url(/font/TaameyDavidCLM-Medium.ttf)
}
@font-face{
    font-family: "Taamey David";
    src:url(/font/TaameyDavidCLM-Bold.ttf);
    font-weight:700
}
@font-face{
    font-family: "Taamey David";
    src:url(/font/TaameyDavidCLM-MediumOblique.ttf);
    font-style:italic
}
@font-face{
    font-family: "Taamey David";
    src:url(font/TaameyDavidCLM-BoldOblique.ttf);
    font-style:italic;
    font-weight:700
}

/* https://opensiddur.org/help/fonts/ */
@font-face{
    font-family: 'Fira Light';
    src:url(/font/FiraGO-Light.ttf)
}

.gemara-container .hebrew, #snackbar .hebrew {
    font-size: calc(1.5em * var(--font-size-multiplier));
    line-height: calc(1.5em * var(--font-size-multiplier));
}

.commentaryRow .hebrew, .hebrew .commentary_header {
    font-size: calc(1.1em * var(--font-size-multiplier));
}
.table-row {
    clear: both;
}
.table-cell {
    padding: 0px var(--table-cell-padding);
    float: left;
}

.highlighted {
    background: var(--highlight-color);
}

.hebrew .highlighted {
    padding: 5px 0px;
}
.english .highlighted {
    padding: 2px 0px;
}

.commentary_header.highlighted {
    padding: 0;
}

.amudContainer:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.amudContainer .hebrew {
    width: calc(55% - 2 * var(--table-cell-padding));
}
.hebrew.siblingExpanded {
    padding-right: calc(2 * var(--table-cell-padding));
}

.fullRow {
    width: calc(100% - 2 * var(--table-cell-padding)) !important;
}

.lineClamped {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.english.lineClamped, .english.neverWrap {
    width: calc(45% - 2 * var(--table-cell-padding));
}
.english.translationWrapped {
    /* subtract for right padding */
    width: calc(100% - 2 * var(--table-cell-padding));

    float: none;
}
.jastrow .english { /* commentaryKind.className */
    -webkit-line-clamp: 3 !important;
}
.commentary_header {
    text-decoration: underline;
    margin-inline-end: 8px;
    display: inline-block;
}

.commentary_header.has-nested-commentaries::after {
    /* Draw over the parent's underline and effectively erase it */
    text-decoration: underline;
    text-decoration-color: var(--background-color);

    margin-inline-start: 2px;
    content: "+";
    font-size: smaller;
}
.commentary_header.has-nested-commentaries.highlighted::after {
    text-decoration-color: var(--highlight-color);
}

#main-contents {
    margin: auto;
    max-width: var(--max-width);
    padding: 1em;
}

.hebrew {
    font-family: "Taamey David", "Times New Roman", serif;
    line-height: calc(1.7em * var(--font-size-multiplier));
}
.hebrew-emphasis, .commentaryRow .parenthesized {
    font-family: "Fira Light";
    font-size: 14px;
}
.english {
    color: #555;
}
.english {
    padding-top: calc(1.25px * var(--font-size-multiplier));
}
.gemara-container .english {
    padding-top: calc(2.75px * var(--font-size-multiplier));
}
.navigation-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.navigation-button-container.next {
    margin-top: 32px;
}
.navigation-button:not(.edit-button) {
    position: relative;
    left: 16px;
}

*:focus {
    outline: none;
}
.edit-button {
    position: relative;
    left: 24px;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-family: "Taamey David";
    font-size:  4em;
}
h2 {
    font-family: "Helvetica Neue";
    font-size: 2.5em;
    font-weight: 200;
}

#snackbar {
    position: fixed;
    bottom: -400px;
    width: calc(var(--max-width) - 2 * var(--snackbar-padding));
    padding: var(--snackbar-padding);

    background-color: #323232;
    color: var(--background-color);
    border-radius: 2px 2px 0 0;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .5);
}

@media only screen and (max-width: 720px) {
    /* For mobile phones: */
    #snackbar {
        width: calc(100% - 2 * var(--snackbar-padding));
        margin-left: -1em;
    }
}

#snackbar > * {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

#snackbar p:last-of-type {
    margin-bottom: 0px;
}

#snackbar-buttons {
    display: flex;
    justify-content: space-between;
}

.commentary_header.psukim,
.commentary_header.mishna,
.commentary_header.tosefta,
.commentary_header.jastrow {
    color: gray;
}
.commentary_header.ein-mishpat {
    color: rgb(68,138,255);
}
.commentary_header.mesorat-hashas {
    color: rgb(124,77,255);
}
.text-loading-spinner {
    display: block;
    margin: auto;
}
#initial-load-spinner {
    padding-top: 20px;
}
.mdl-button {
    text-transform: none;
}

#snackbar .mdl-button {
    min-height: 36px;
    line-height: unset;
    height: unset;
}

.section-container::after {
    content: "";
    clear: both;
    display: block;
    height: 10px;
}
#main-contents {
    /* Provide space for the snacbkar. */
    padding-bottom: 80px;
}

#modal-container {
    display: none;
}

#modal-container, .modal-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgb(0, 0, 0, 0.3);
}

#modal, .modal {
    --margin: 10px;
    position: absolute;
    top: 50%;
    left: calc(50%);
    transform: translate(calc(-50% - var(--margin)), -50%);
    background-color: var(--background-color);
    margin: var(--margin);
    width: calc(100% - 2 * var(--margin));
    box-shadow: 0px 0px 10px 5px #888888;
    border-radius: 10px;
    min-height: 150px;
}

.modal-direction-active {
    color: var(--major-color);
}
.modal-direction {
    line-height: 36px;
    padding: 0px 4px;
}

#modal textarea[dir="ltr"] {
    text-align: left;
}
#modal textarea[dir="rtl"] {
    text-align: right;
}

@media only screen and (min-width: 720px) {
    #modal, .modal {
        min-width:  400px;
        width: initial;
    }
}

#modal-content, .modal-content {
    padding: 10px
}

.gemara-container.hadran {
    padding-bottom: 80px;
}

.hidden-host {
    position: absolute;
    /* Setting left to 0 makes sure that the hidden host doesn't take the margin/padding of its
    parents and therefore push the width of the body beyond 100%. For consistency & clarify, top is
    also set though it doesn't have a practical effect. */
    top: 0;
    left: 0;

    opacity: 0;
    max-width: var(--max-width);
    width: 100%;

    /* Disable touch events so that the hidden host appears totally invisible to the user. */
    pointer-events: none;
}

.image-pointer {
    vertical-align: super;
    font-size: smaller;
    line-height: 0px; /* Makes sure that the line height is not modified */c
}

.image-ref-container {
    float: right;
    clear: right;
    --padding: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.image-ref-text {
    float: right;
    padding-left: 10px;
}
.image-ref {
    float: left;
}

.personal-comment-bold {
    font-weight: 700;
}
.personal-comment-italic {
    font-style: italic;
}
.personal-comment-underline {
    text-decoration: underline;
}
.personal-comment-strikethrough {
    text-decoration: line-through;
}
