:root {
    --max-width: 720px;
    --snackbar-padding: 10px;
    --dark-background: #323232;
    --table-cell-padding: 8px;
    --font-size-multiplier: 1;
    --mdl-major-color: rgb(255,110,64);
    --mdl-accent-color: rgb(255,193,7);

    /* Colors overridden in dark mode. */
    --background-color: white;
    --highlight-red: rgb(245, 150, 147);
    --highlight-yellow: rgb(250, 217, 120);
    --highlight-green: rgb(136, 227, 140);
    --highlight-blue: rgb(141, 188, 252);
    --highlight-gray: rgb(201, 201, 201);
    --highlighted-commentary-indicator-red: var(--highlight-red);
    --highlighted-commentary-indicator-yellow: var(--highlight-yellow);
    --highlighted-commentary-indicator-green: var(--highlight-green);
    --highlighted-commentary-indicator-blue: var(--highlight-blue);
    --highlighted-commentary-indicator-gray: var(--highlight-gray);
    --text-color: var(--dark-background);
    --english-text-color: #555;
    --snackbar-button-color: var(--mdl-accent-color);
    --snackbar-background-color: var(--text-color);
    --snackbar-text-color: var(--background-color);
    --modal-box-shadow-color: #888;
    --modal-button-color: var(--mdl-major-color);
}

@media only screen and (min-width: 720px) {
    :root {
        --font-size-multiplier: 1.1;
    }
}

html {
    background-color: var(--background-color);
    color: var(--text-color);
}

html, body {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/* https://opensiddur.org/help/fonts/ */
@font-face{
    font-family: "Taamey David";
    src:url(/font/TaameyDavidCLM-Medium.ttf)
}
@font-face{
    font-family: "Taamey David";
    src:url(/font/TaameyDavidCLM-Bold.ttf);
    font-weight:700
}
@font-face{
    font-family: "Taamey David";
    src:url(/font/TaameyDavidCLM-MediumOblique.ttf);
    font-style:italic
}
@font-face{
    font-family: "Taamey David";
    src:url(font/TaameyDavidCLM-BoldOblique.ttf);
    font-style:italic;
    font-weight:700
}

/* https://opensiddur.org/help/fonts/ */
@font-face{
    font-family: 'Fira Light';
    src:url(/font/FiraGO-Light.ttf)
}

.gemara-container .hebrew, #snackbar .hebrew {
    font-size: calc(1.5em * var(--font-size-multiplier));
    line-height: calc(1.5em * var(--font-size-multiplier));
}

.commentaryRow .hebrew, .hebrew .commentary_header {
    font-size: calc(1.1em * var(--font-size-multiplier));
}
.table-row {
    clear: both;
}
.table-cell {
    padding: 0px var(--table-cell-padding);
    float: left;
}

.highlighted-red {
    background: var(--highlight-red);
}
.highlighted-yellow {
    background: var(--highlight-yellow);
}
.highlighted-green {
    background: var(--highlight-green);
}
.highlighted-blue {
    background: var(--highlight-blue);
}
.highlighted-gray {
    background: var(--highlight-gray);
}

.hebrew .highlighted {
    padding: 5px 0px;
}
.english .highlighted {
    padding: 2px 0px;
}

.amudContainer:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.amudContainer .hebrew {
    width: calc(55% - 2 * var(--table-cell-padding));
}
.hebrew.siblingExpanded {
    padding-right: calc(2 * var(--table-cell-padding));
}

.fullRow {
    width: calc(100% - 2 * var(--table-cell-padding)) !important;
}

.lineClamped {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.english.lineClamped, .english.neverWrap {
    width: calc(45% - 2 * var(--table-cell-padding));
}
.english.translationWrapped {
    /* subtract for right padding */
    width: calc(100% - 2 * var(--table-cell-padding));

    float: none;
}
.jastrow .english { /* commentaryKind.className */
    -webkit-line-clamp: 3 !important;
}
.commentary_header {
    text-decoration: underline;
    display: inline-block;
    user-select: none;
}

/* Unfortuantely there isn't a more direct way of referencing the parents of .commentary_header
items. */
.show-buttons > .table-cell {
    display: flex;
    flex-wrap: wrap;
    gap: 0px 8px;
}

.highlighted-commentary-indicator-red {
    color: var(--highlighted-commentary-indicator-red);
    margin-inline-start: 4px;
}
.highlighted-commentary-indicator-yellow {
    color: var(--highlighted-commentary-indicator-yellow);
    margin-inline-start: 4px;
}
.highlighted-commentary-indicator-green {
    color: var(--highlighted-commentary-indicator-green);
    margin-inline-start: 4px;
}
.highlighted-commentary-indicator-blue {
    color: var(--highlighted-commentary-indicator-blue);
    margin-inline-start: 4px;
}
.highlighted-commentary-indicator-gray {
    color: var(--highlighted-commentary-indicator-gray);
    margin-inline-start: 4px;
}

.commentary_header.has-nested-commentaries::after {
    /* Draw over the parent's underline and effectively erase it */
    text-decoration: underline;
    text-decoration-color: var(--background-color);

    margin-inline-start: 2px;
    content: "+";
    font-size: smaller;
}

#main-contents {
    margin: auto;
    max-width: var(--max-width);
    padding: 1em;
}

.hebrew {
    font-family: "Taamey David", "Times New Roman", serif;
    line-height: calc(1.7em * var(--font-size-multiplier));
}
.hebrew-emphasis, .commentaryRow .parenthesized {
    font-family: "Fira Light";
    font-size: 14px;
}
.english {
    color: var(--english-text-color);
}
.english {
    padding-top: calc(1.25px * var(--font-size-multiplier));
}
.gemara-container .english {
    padding-top: calc(2.75px * var(--font-size-multiplier));
}
.navigation-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.navigation-button-container.next {
    margin-top: 32px;
}
.navigation-button:not(.edit-button) {
    position: relative;
    left: 16px;
}

*:focus {
    outline: none;
}
.edit-button {
    position: relative;
    left: 24px;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-family: "Taamey David";
    font-size:  4em;
}
h2 {
    font-family: "Helvetica Neue";
    font-size: 2.5em;
    font-weight: 200;
}

#snackbar {
    position: fixed;
    bottom: -400px;
    width: calc(var(--max-width) - 2 * var(--snackbar-padding));
    padding: var(--snackbar-padding);

    background-color: var(--snackbar-background-color);
    color: var(--snackbar-text-color);
    border-radius: 2px 2px 0 0;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .5);

    z-index: 3;
}

@media only screen and (max-width: 720px) {
    /* For mobile phones: */
    #snackbar {
        width: calc(100% - 2 * var(--snackbar-padding));
        margin-left: -1em;
    }
}

#snackbar > * {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

#snackbar p:last-of-type {
    margin-bottom: 0px;
}

.snackbar-buttons {
    display: flex;
    justify-content: space-between;
}

.commentary_header.psukim,
.commentary_header.mishna,
.commentary_header.tosefta,
.commentary_header.show-more,
.commentary_header.jastrow {
    color: gray;
}
.commentary_header.ein-mishpat, .commentary_header.sefer-hachinukh {
    color: rgb(68,138,255);
}
.commentary_header.mesorat-hashas, .commentary_header.torah-temima {
    color: rgb(136, 95, 250);
}
.text-loading-spinner {
    display: block;
    margin: auto;
}
#initial-load-spinner {
    padding-top: 20px;
}
.mdl-button {
    text-transform: none;
}

#snackbar .mdl-button {
    min-height: 36px;
    line-height: unset;
    height: unset;
    color: var(--snackbar-button-color);
}

.section-container::after {
    content: "";
    clear: both;
    display: block;
    height: 10px;
}
#main-contents {
    /* Provide space for the snacbkar. */
    padding-bottom: 80px;
}

#modal-container {
    display: none;
}

#modal-container, .modal-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgb(0, 0, 0, 0.3);
}

#modal, .modal {
    --margin: 10px;
    position: absolute;
    top: 50%;
    left: calc(50%);
    transform: translate(calc(-50% - var(--margin)), -50%);
    background-color: var(--background-color);
    margin: var(--margin);
    width: calc(100% - 2 * var(--margin));
    box-shadow: 0px 0px 10px 5px var(--modal-box-shadow-color);
    border-radius: 10px;
}

.modal-direction-active {
    color: var(--modal-button-color);
}
.modal-direction {
    line-height: 36px;
    padding: 0px 4px;
}

#modal textarea[dir="ltr"] {
    text-align: left;
}
#modal textarea[dir="rtl"] {
    text-align: right;
}

@media only screen and (min-width: 720px) {
    #modal, .modal {
        min-width:  400px;
        width: initial;
    }
}

#modal-content, .modal-content {
    padding: 10px
}

#modal-content .mdl-button--accent, .modal-content .mdl-button--accent {
    color: var(--modal-button-color);
}

#modal-cancel, .modal-cancel {
    color: var(--text-color) !important;
}

.gemara-container.hadran {
    padding-bottom: 80px;
}

.hidden-host {
    position: absolute;
    /* Setting left to 0 makes sure that the hidden host doesn't take the margin/padding of its
    parents and therefore push the width of the body beyond 100%. For consistency & clarify, top is
    also set though it doesn't have a practical effect. */
    top: 0;
    left: 0;

    opacity: 0;
    max-width: var(--max-width);
    width: 100%;

    /* Disable touch events so that the hidden host appears totally invisible to the user. */
    pointer-events: none;
}

.image-pointer {
    vertical-align: super;
    font-size: smaller;
    line-height: 0px; /* Makes sure that the line height is not modified */c
}

.image-ref-container {
    float: right;
    clear: right;
    --padding: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.image-ref-text {
    float: right;
    padding-left: 10px;
}
.image-ref {
    float: left;
}

.personal-comment-bold {
    font-weight: 700;
}
.personal-comment-italic {
    font-style: italic;
}
.personal-comment-underline {
    text-decoration: underline;
}
.personal-comment-strikethrough {
    text-decoration: line-through;
}

.icon-highlight-red {
    color: var(--highlight-red);
}
.icon-highlight-yellow {
    color: var(--highlight-yellow);
}
.icon-highlight-green {
    color: var(--highlight-green);
}
.icon-highlight-blue {
    color: var(--highlight-blue);
}
.icon-highlight-gray {
    color: var(--highlight-gray);
}

.text-selection-divider {
    user-select: none;
}
