:root {
    --max-width: 720px;
    --snackbar-padding: 10px;
    --background-color: white;
    --table-cell-padding: 8px;
}

html {
    background-color: var(--background-color);
}

@font-face{
    font-family:rashi script;
    src:url(https://sefaria.org/static/fonts/Mekorot-Rashi.ttf)
}
@font-face{
    font-family:taamey frank;
    src:url(https://sefaria.org/static/fonts/Taamey-Frank/TaameyFrankCLM-Medium.ttf)
}
@font-face{
    font-family:taamey frank;
    src:url(https://sefaria.org/static/fonts/Taamey-Frank/TaameyFrankCLM-Bold.ttf);
    font-weight:700
}
@font-face{
    font-family:taamey frank;
    src:url(https://sefaria.org/static/fonts/Taamey-Frank/TaameyFrankCLM-MediumOblique.ttf);
    font-style:italic
}
@font-face{
    font-family:taamey frank;
    src:url(https://sefaria.org/static/fonts/Taamey-Frank/TaameyFrankCLM-BoldOblique.ttf);
    font-style:italic;
    font-weight:700
}

.gemara, #snackbar .hebrew {
    font-size: 1.5em;
    line-height: 1.5em;
}

.commentaryRow .hebrew, .hebrew .commentary_header {
    font-size: 1.1em;
}

.table-row {
    clear: both;
}

.table-cell {
    float: left;
    padding: 0px var(--table-cell-padding);
}
.amudContainer:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.amudContainer .hebrew {
    width: calc(55% - 2 * var(--table-cell-padding));
}
.amudContainer .english {
    width: calc(45% - 2 * var(--table-cell-padding));
}
.fullRow {
    width: calc(100% - 2 * var(--table-cell-padding)) !important;
}

.line-clampable {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.jastrow .english-div {
    -webkit-line-clamp: 3 !important;
}
td {
    vertical-align: top;
    padding: 0px 8px;
}
.commentary_header {
    text-decoration: underline;
    padding-inline-end: 8px;
    display: inline-block;
}

#main-contents {
    margin: auto;
    max-width: var(--max-width);
    padding: 1em;
}

h1, h2 {
    text-align: center;
}
.hebrew {
    font-family: "Taamey Frank", "Times New Roman", serif !important;
    line-height: 1.7em;
}
.english-div {
    /* TODO: don't apply this to the first line */
    margin-top: 3.25px;
    color: #555;
}
#previous-amud-container, #next-amud-container {
    display: flex;
    align-items: center;
    justify-content: center
}
#next-amud-container {
    margin-top: 32px;
}
h1 {
    font-family: "David Libre";
    font-size:  4em;
}
h2 {
    font-family: "Rubik";
    font-size: 2.5em;
}

#snackbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;

    position: fixed;
    bottom: -400px;
    width: calc(var(--max-width) - 2 * var(--snackbar-padding));
    padding: var(--snackbar-padding);

    background-color: #323232;
    color: var(--background-color);
    border-radius: 2px 2px 0 0;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .5);
}

@media only screen and (max-width: 720px) {
    /* For mobile phones: */
    #snackbar {
        width: calc(100% - 2 * var(--snackbar-padding));
        margin-left: -1em;
    }
}

#snackbar p:last-of-type {
    margin-bottom: 0px;
}

#snackbar-buttons {
    display: flex;
    justify-content: space-between;
}

.commentary_header.psukim,
.commentary_header.mishna,
.commentary_header.tosefta,
.commentary_header.jastrow {
    color: gray;
}
.commentary_header.ein-mishpat {
    color: rgb(68,138,255);
}
.commentary_header.mesorat-hashas {
    color: rgb(124,77,255);
}
.text-loading-spinner {
    display: block;
    margin: auto;
}
#initial-load-spinner {
    padding-top: 20px;
}
.mdl-button {
    text-transform: none;
}

#snackbar .mdl-button {
    min-height: 36px;
    line-height: unset;
    height: unset;
}

.section-container::after {
    content: "";
    clear: both;
    display: block;
    height: 10px;
}
.hebrew-emphasis {
    font-family: "David Libre";
}
.single-commentator-container > * {
    padding-top: .4em;
}
.single-commentator-container > *:first-child {
    padding-top: 0px;
}
#main-contents {
    /* Provide space for the snacbkar. */
    padding-bottom: 80px;
}
