.gcloudignore
.git
.gitignore

*.pyc

# Python pycache:
__pycache__/
*/__pycache__/
# Ignored by the build system
/setup.cfg

sefaria-data
venv
pre-commit

*_test.py
test_data
*.test.js

.pre-commit-config.yaml

cache_all_api_requests.py
cached_outputs/

.DS_Store

node_modules
.cache/

.eslintrc
.eslintignore

.travis.yml

.\#*
\#*\#

parcel.js
.eslintrc.js

babel.config.js

__tests__/

draw_images/
