.gcloudignore
.git
.gitignore

*.pyc

# Python pycache:
__pycache__/
*/__pycache__/
# Ignored by the build system
/setup.cfg

sefaria-data
venv
pre-commit

*_test.py
test_data

.pre-commit-config.yaml

cache_all_api_requests.py
cached_outputs/
update_preferences_page_test_data.py

.DS_Store
