#main-contents {
    margin: auto;
    max-width: 720px;
}
* {
    font-family: "Frank Ruehl Libre", "Taamey Frank", "Times New Roman", serif;
}
p {
    font-size: 24;
}
h1, h2 {
    text-align: center;
}
.ui-result-main {
    z-index: 0;
    position: relative;
    top: -1.2em;
}
.ui-result-delete {
    height: 2em;
    position: relative;
    top: 2em;
    z-index: 1;
    clickable: true;
}

#freeze-button, #copy-button {
    z-index: 2;
    position: absolute;
    left: 1em;
}

#freeze-button {
    top: 1em;
}

#copy-button {
    top: 4.25em;
}