:root {
    --max-width: 720px;
    --snackbar-padding: 10px;
}

@font-face{
    font-family:rashi script;
    src:url(https://sefaria.org/static/fonts/Mekorot-Rashi.ttf)
}
@font-face{
    font-family:taamey frank;
    src:url(https://sefaria.org/static/fonts/Taamey-Frank/TaameyFrankCLM-Medium.ttf)
}
@font-face{
    font-family:taamey frank;
    src:url(https://sefaria.org/static/fonts/Taamey-Frank/TaameyFrankCLM-Bold.ttf);
    font-weight:700
}
@font-face{
    font-family:taamey frank;
    src:url(https://sefaria.org/static/fonts/Taamey-Frank/TaameyFrankCLM-MediumOblique.ttf);
    font-style:italic
}
@font-face{
    font-family:taamey frank;
    src:url(https://sefaria.org/static/fonts/Taamey-Frank/TaameyFrankCLM-BoldOblique.ttf);
    font-style:italic;
    font-weight:700
}

.gemara {
    font-size: 1.5em;
}
table .hebrew {
    width: 55%;
}
table .english {
    width: 45%;
}
.line-clampable {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
td {
    vertical-align: top;
    padding: 0px 8px;
}
.commentary_header {
    text-decoration: underline;
    padding-inline-end: 8px;
}

#main-contents {
    margin: auto;
    max-width: var(--max-width);
    padding: 1em;
}

h1, h2 {
    text-align: center;
}
.hebrew {
    font-family: "Taamey Frank", "Times New Roman", serif !important;
    line-height: 1.7em;
}
.gemara {
    line-height: 1.5em;
}
.english-div {
    /* TODO: don't apply this to the first line */
    margin-top: 6px;
    color: #555;
}
#previous-amud-container, #next-amud-container {
    display: flex;
    align-items: center;
    justify-content: center
}
h1 {
    font-family: "David Libre";
    font-size:  4em;
}
h2 {
    font-family: "Rubik";
    font-size: 2.5em;
}

#snackbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;

    position: fixed;
    bottom: -400px;
    width: var(--max-width);
    padding: var(--snackbar-padding);

    background-color: #323232;
    border-radius: 2px 2px 0 0;
    color: white;
}

#snackbar-buttons {
    display: flex;
    justify-content: space-between;
}
