<!DOCTYPE html>
<html>
<head>
  <title>talmud.page | redirect to last page</title>
  {% include "header_common.html" %}
  {% include "header_static.html" %}
  <link rel="stylesheet" href="/css/homepage.css" />
</head>
<body>
  <div id="main-contents">
    <div id="center-content-container">
      <div id="center-contents">

        <h1 class="lang-english">Loading your last visited page</h1>
        <h1 class="lang-hebrew">טוען הדף האחרון שלך</h1>

        <div id="progress-bar" class="mdl-progress mdl-js-progress mdl-progress__indeterminate">
        </div>
        <br />
      </div>
    </div>
  </div>
</body>
<script src="/js/last_redirecter.ts"></script>
</html>
