<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  {% include "header_common.html" %}
  <script src="/js/{{random_hash}}/snackbar.js"></script>
  <script src="/js/{{random_hash}}/preferences_sample_data.js"></script>
  <script src="/js/{{random_hash}}/preferences_page.js"></script>
  <script src="/js/{{random_hash}}/rendering.js"></script>
  <style>
.amudContainer h2 {
    font-size: 1.75em;
}
  </style>
</head>
<body>
  <div id="main-contents">
    <h1>Preferences</h1>

    {% include "snackbar.html" %}
  </div>
</body>
</html>
