<!DOCTYPE html>
<html>
<head>
  <title>Rambam Yomi | talmud.page</title>
  {% include "header_common.html" %}
  <link rel="stylesheet" href="../css/homepage.css" />
  <script src="../js/rambam_yomi_redirector.ts"></script>
</head>
<body>
  <div id="main-contents">
    <div id="center-content-container">
      <div id="center-contents">
        <h1>Loading Today's Rambam</h1>
        <div id="progress-bar" class="mdl-progress mdl-js-progress mdl-progress__indeterminate">
        </div>
        <br />
        <ul id="errors" hidden>
          <li>Error accessing today's daf. Try reloading</li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
