<html>
<head>
  <title>{{title}}</title>
    <style>
    .gemara {
      font-size: 1.5em;
    }
    table .hebrew {
      width: 55%;
    }
    table .english {
      width: 45%;
    }
    .line-clampable {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    td {
      vertical-align: top;
      padding: 0px 8px;
    }
    .commentary_header {
      text-decoration: underline;
      padding-inline-end: 8px;
    }
    </style>

    {% include "header_common.html" %}

  <script src="/static/talmud_page.js"></script>
</head>
<body>
  <div id="main-contents">
    <h2 id="title" style="display: none"></h2>
    <div id="results" />
  </div>
</body>
</html>
