<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  {% include "header_common.html" %}
  <script src="/js/{{random_hash}}/snackbar.js"></script>
  <script src="/js/{{random_hash}}/rendering.js"></script>
  {# <script src="/js/{{random_hash}}/google_drive.js"></script> #}
  <script src="/js/{{random_hash}}/masechtot.js"></script>
  <script src="/js/{{random_hash}}/talmud_page.js"></script>
  {#
  <script async="" defer=""
          onload="this.onload=function(){};handleGoogleClientLoad()"
          onreadystatechange="if (this.readyState === 'complete') this.onload()"
          src="https://apis.google.com/js/api.js"></script> #}

</head>
<body>
  <div id="main-contents">
    <div id="previous-amud-container" style="display: none">
      <span id="previous-amud-button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Previous Amud</span>
    </div>

    <div id="initial-load-spinner">
      <div class="text-loading-spinner mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
    </div>

    <div id="results"></div>

    <div id="next-amud-container" style="display: none">
      <span id="next-amud-button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Next Amud</span>
    </div>
    {% include "snackbar.html" %}
  </div>
</body>
</html>
